%html
  %head
    %meta{'http-equiv' =>"Content-Type", :content => 'text/html; charset=UTF-8'}
    %title ClanTwit
    %link{:rel => 'stylesheet', :href => "#{base_url}/stylesheet.css", :type => 'text/css'}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js'}
    %script{:src => "#{base_url}/js.js"}
      
  %body
    %div.title
      %img{:src => "#{base_url}/logo.gif", :alt => 'ClanTwit'}
    %div.main
      = yield
    %div.foot
      author: 
      %a{:href => "http://twitter.com/yayugu"} @yayugu
